   <!DOCTYPE html>
<html>
<head>
  <title>Shortened URL Count</title>
  <style>
   .body {
      font-family: Arial, sans-serif;
      background-image: url('<%= asset_path('pexels-photo-1365795.jpeg') %>');
      background-size:cover; 
      background-position: center center;
      /* background-attachment: fixed;  */
      margin: 0;
      font-family: Arial, sans-serif;
  
    }
    </style>
    </head>
    <body>
    <div>
    <%= render 'home/navbar1' %>
  </div>
    <div class="body">
       
    <div class="vw-100 vh-100 d-flex  justify-content-center">
      <div class="jumbotron jumbotron-fluid bg-transparent">
    
  <br>
  <br>

  <center>
    <h1 class="display-2 justify-center" style="color:white">URL Shortner</h1>
    </center>
      <center> <h4 style="color:white;">
      All types of URLs are shortened Here 
    </h4>
    </center>
  

  <div class="container">
    <h4 style="color:white;">
      URL Shortner is a free tool to shorten URLs and generate short links.
      URL shortener allows you to create a shortened link, making it easy to share.
    </h4>
    <br>
    <div class="about">
      <h2><u>Simple and fast URL shortener!</u></h2>
    </div>
    <br>
   <p style="color:white;">
      ShortURL allows you to shorten long links from Instagram, Facebook, YouTube, Twitter, Linked In, WhatsApp, TikTok, blogs, and sites.
      Just paste the long URL and click the Shorten URL button. On the next page, copy the shortened URL and share it on sites, chat, and emails.
      After shortening the URL, check how many clicks it received.
    </p>
    <br>
    <div class="about">
      <h2><u>Shorten, share, and track</u></h2>
    </div>
    <br>
    <p style="color:white;">
      You can Shorten any URL you like and can download the shortened URL and the original URL in <span class="red">pdf format</span>,
      and you can copy the shortened URLs for further purposes. You can shorten
      <h6 class="red">single link, multiple links</h6> and even links in a
      <span class="red">CSV format</span>.
    </p>
  </div>
</div>
</div>
</body>
</html>