<div>
  <div>
   <%= render  "home/navbar1" %>
  </div>
  <div class="body">
    <div class="vw-100 vh-100 d-flex align-items-center justify-content-center">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <center class="url">
          <h1 class="display-2 head">URL Shortner</h1>
        </center>
        <h4 class="head">
          <center> All types of URLs are shortened Here </center>
        </h4>
        <center>
          <hr class="my-4 head" />

          <%= link_to "Register", "/recipie" %>
         

        </center>
        <center>
          <hr class="my-4 head" />

          <%= link_to "Log In", "/logins" %>
        

        </center>
      </div>
  
    </div>
  </div>
</div>
