

<style>

  
  </style>
<nav class="navbar navbar-dark bg-dark header11">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a class="nav-link" href="/count">
        <h2> <img src= <%= asset_path('logo.png')%> alt="Logo" height="60" width="60"> Url Shortener</h2>
      </a>
    </div>

    <div class="d-flex justify-content-end nav-tabs">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/count">
            <h4 class="space" >Home</h4>
          </a>
        </li>


        

        <li class="nav-item dropdown">
            
            <a class="nav-link dropdown-toggle d-inline-flex align-items-center" id="reports" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <%# <h4 class="space">Download</h4> %> <h4 class="space">  Reports </h4>
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/urlsummary">Summary </a></li>
              <li><a class="dropdown-item" href="/details"> Details</a></li>
              
            </ul>
          </li>


        <li class="nav-item dropdown">
            
            <a class="nav-link dropdown-toggle d-inline-flex align-items-center" href="#" id="downloadsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <%# <h4 class="space">Download</h4> %> <h4 class="space">  View </h4>
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/urlslist">Url shortened list</a></li>
              <li><a class="dropdown-item" href="/userlist">User List</a></li>
              
            </ul>
          </li>

          
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <h4 class="space"  >Logout</h4>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
   $(document).ready(function() {
    $('.dropdown-toggle').hover(function() {
      if (!$(this).hasClass('show')) {
        $(this).addClass('show');
        $(this).attr('aria-expanded', true);
        $(this).siblings('.dropdown-menu').addClass('show');
        $(this).siblings('.dropdown-menu').css('display', 'block');
      }
    });

    $('.nav-item').mouseleave(function() {
      $('.dropdown-toggle').removeClass('show');
      $('.dropdown-toggle').attr('aria-expanded', false);
      $('.dropdown-menu').removeClass('show');
      $('.dropdown-menu').css('display', 'none');
    });
  });
</script>