<!DOCTYPE html>
<html>
<head>
  <title>forgot password</title>
    <style>


           body {
                background-image: url('<%= asset_path('pexels-photo-1365795.jpeg') %>');
                background-size: cover;     
                background-position: center; 
                font-family: Arial, sans-serif;
                margin: 0;
              }
              .login-form {
               padding : 40px ;
               background-color: #0d1b2a;
               background-size: cover;     
               background-position: center center; 
               border-radius: 50px;
               min-width:40%;
               max-width:80%;
          
              }
              .btn1
              {
                margin-top:40px;;
              }
              .back{
                margin-top:40px;
                color:white;
              }
              .back:hover{
                color: #8eecf5;
              }
              .form{
                height:70px;
                border-radius:20px;
              }
              h3{
                color:white;
              }
              h5{
                color:white;
              }
              .reset{
                font-size: 28px;
                font-family : fantasy;
                color: red;
              }
    </style>
  </head>
      <body>
            <div>  
            <%= render  "home/navbar1" %>

             <% if flash[:error].present? %>
  
    <h5 class="alert alert-success show" id="success"><%= flash[:error]%></h5>
  

    <% end %>
            </div>
          
               <div class="vw-100 vh-100 d-flex align-items-center justify-content-center">
                  <div class="login-form">
                   <form action="/verifyemail" method="post">
                    
                    <h5> Enter the email adress used for register to <span class="reset">Reset Password</span></h5>
                    <br>
                    <label for="email"><h3>Email:</h3></label>
                    <br><br>
                    <input type="email" id="email" name="email"  placeholder="example@gmail.com" class="form-control form"required><br>
                    <center>
                    <input type="submit" class="btn1 form-control"value="Verify">
                  </form>
                  <br>
                      <div>
                  <a href="/logins" > <h5 class="back">Go back to the Login page</h5></a>
                      </div>    
                      </center>                   
                  </div>
                </div>
            
    </body>

</html>