
<!DOCTYPE html>
<html>
<head>
  
  <title>Login  </title>
  <style>
 .body {
  background-image: url('<%= asset_path('pexels-photo-1365795.jpeg') %>');
  background-size: cover;     
  background-position: center center; 
  font-family: Arial, sans-serif;
  margin: 0;
}
.head1
{
  color:white;
  
}
.head
{
  color:red;
  float:right;
  
}

 a {
  text-decoration: none;
  font-size: 15px;
  line-height: 12px;
  color: #000000;

}
a:hover{
  color: red;
}

  </style>
</head>

    
        

<body>


  <%# <div> %>
  <div class="body">
    <%= render 'home/navbar1' %> 

          <% if flash[:login_error].present? %>
            <center><h5 class="alert alert-show" style="color: red;"><%= flash[:login_error] %></h5></center>
              <% else %>
          <% if flash[:register_success].present? %>
           <center> <h3 class="alert alert-show" style="color: green;"><%= flash[:register_success] %></h3></center>
              <% end %>
          <% end %>

    <div class="row">
      <div class="vw-100 vh-100 d-flex align-items-center justify-content-center">
        <div class="col-sm-6">
          <center>
            <h1 class="display-2 justify-center head1">URL Shortner</h1>
            <h4 class="head1">
              <center> All types of URLs are shortened Here </center>
            </h4>
          </center>
        </div>

        <div class="col-sm-4">
          <%# <div class="login-form">/ %>
          <form method="POST" action="/session">
            <div class="row">
              <div>
                <input class="form-control log" type="email" name="login[email]" placeholder="Example@gmail.com" />
              </div>
            </div>
            <br>    color: red;

            <div>
              <input class="form-control log" type="password" name="login[password]"  id="passwordField" placeholder="***********" />
            </div>
            <br>
            <input type="checkbox" onchange="togglePassword();" /> <span class="head1"> Show Password</span>
            <br><br>
            <center>
              <button class="btn-primary1 form-control" type="submit">Login</button>
            </center>
            <div class="create">
             
                  <br>
                  <br>
                  <div class="row">
                      <div class="col-sm-5">
                  <h6 style="color:red;">Forgot password?</h6>
                      </div>

                 <div class="col-sm-7">
                   <a href="/recipie" style="color:black;">
                <h6 class="head">Create a New account ?</h6>
                </div>
                </div>
              </a>
            </div>
          </form>
          <%# </div> %>
        </div>
      </div>
    </div>
  </div>
<%# </div> %>


<script>
  function togglePassword() {
    var passwordField = document.getElementById('passwordField');

    if (passwordField.type === 'password') {
      passwordField.type = 'text';
    } else {
      passwordField.type = 'password';
    }
  }
</script>



</body>
</html>