
<% if flash[:login_error].present? %>
  <div class="alert fade show" >
    <% flash[:login_error].each do |error| %>
     <div class="form-control">
        <h4 style="color:red;"><%=error %> </h4>
    </div>
    <% end %>
    <% end %>
   
  </div>
